{# templates/atualizar_cliente.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Atualizar Cliente</title>
</head>
<body>
    <h1>Atualizar Cliente</h1>

    <form action="{{ path('editar_cliente', {'id': cliente.id}) }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ cliente.nomeCliente }}" required><br>

        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone" value="{{ cliente.telefoneCliente }}" required><br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" value="{{ cliente.cpfCliente }}" required><br>

        <button type="submit">Atualizar</button>
    </form>

    <a href="{{ path('lista_clientes') }}">Cancelar</a>
</body>
</html>
